<div class="container bottom_buttons">
    <div class="row">
        <div class="col-xs-4">
            <button type="button" class="btn btn-primary col-xs-12" onclick="subscribe()">
                <span style="color: #cecece">-></span> 关 注 <span style="color: #cecece"><-</span>
            </button>
        </div>
        <div class="col-xs-4">
            <button type="button" class="btn btn-primary col-xs-12" onclick="feedback()">
                <span style="color: #cecece">-></span> 反 馈 <span style="color: #cecece"><-</span>
            </button>
        </div>
        <div class="col-xs-4">
            <button type="button" class="btn btn-primary col-xs-12" onclick="share()">
                <span style="color: #cecece">-></span> 分 享 <span style="color: #cecece"><-</span>
            </button>
        </div>
    </div>
</div>