<div id="feedback" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="feedback_title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header text-center">
                <h4 id="feedback_title" class="modal-title">反馈</h4>
            </div>

            <div class="modal-body">
                <form id="feedback_form" class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="wx_id" class="control-label feedback_label">微信/电话/邮箱</label>
                        <input id="wx_id" type="text" class="form-control feedback_input" placeholder="可不填">
                    </div>
                    <div class="form-group">
                        <label for="feedback_content" class="control-label feedback_label">内容</label>
                        <textarea id="feedback_content" class="form-control feedback_textarea" rows="4"></textarea>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-6 text-center">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                    <div class="col-xs-6 text-center">
                        <button type="submit" class="btn btn-primary" onclick="submit_feedback()">提交</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>