<div id="subscribe" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="subscribe_title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header text-center">
                <h4 id="subscribe_title" class="modal-title">订阅我们</h4>
            </div>

            <div class="modal-body">
                <img src="/static/images/wx_qr_code.jpg" alt="关注我们" class="img-thumbnail">
            </div>

            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>