<div id="music_tabs" class="container">
    <ul class="row nav nav-tabs">
        <li class="col-xs-3" onclick="click_music_type(this)"><a class="text-center">摇滚</a></li>
        <li class="col-xs-3" onclick="click_music_type(this)"><a class="text-center">民谣</a></li>
        <li class="col-xs-3" onclick="click_music_type(this)"><a class="text-center">嘻哈</a></li>
        <li class="col-xs-3" onclick="click_music_type(this)"><a href="/lizhi.html" class="text-center">李志</a></li>
    </ul>
</div>
<div id="biz_tabs" class="container">
    <ul class="row nav nav-tabs">
        <li class="col-xs-4" onclick="click_biz_type(this)"><a class="text-center"><strong>动 态</strong></a></li>
        <li class="col-xs-4" onclick="click_biz_type(this)"><a class="text-center"><strong>热 点</strong></a></li>
        <li class="col-xs-4" onclick="click_biz_type(this)"><a class="text-center"><strong>视 频</strong></a></li>
    </ul>
</div>