/*热点界面*/
span.no-top {
    color: #ff1d40;
    font-style: italic;
    font-weight: bold;
    font-size: large;
}

span.no {
    color: #ffa03d;
    font-style: italic;
    font-weight: normal;
    font-size: large;
}

span.focus {
    font-style: normal;
    font-weight: normal;
    font-size: large;
}

span.hot {
    color: #ffd682;
    font-style: normal;
    font-weight: normal;
}

span.users {
    color: #C0C0C0;
    font-style: normal;
    font-weight: normal;
}

/*李志界面*/
img.album_max_width {
    width: 900px;
}

/*专辑界面*/
iframe.max_window {
    width: 600px;
    height: 850px;
}

/*底部按钮*/
.bottom_buttons {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 10px;
}

/*分享mask*/
.share_mask {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, .6);
}
.share_arrow {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 150px;
    height: 150px;
    background-image: url(/static/images/arrow.png);
    background-size: 100% 100%;
}
.share_text {
    position: absolute;
    top: 170px;
    right: 140px;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
}