/*热点界面*/
span.no-top {
    color: #ff1d40;
    font-style: italic;
    font-weight: bold;
    font-size: large;
}

span.no {
    color: #ffa03d;
    font-style: italic;
    font-weight: normal;
    font-size: large;
}

span.focus {
    font-style: normal;
    font-weight: normal;
    font-size: large;
}

span.hot {
    color: #ffd682;
    font-style: normal;
    font-weight: normal;
}

span.users {
    color: #C0C0C0;
    font-style: normal;
    font-weight: normal;
}

/*李志界面*/
img.album_max_width {
    width: 900px;
}

/*专辑界面*/
iframe.max_window {
    width: 600px;
    height: 850px;
}
